.banner {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 400px;
  padding: 50px;
  background-color: #681cc9;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  @media (max-width: 869px) {
    gap: 60px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 70px;
    height: auto;
    padding: 40px 20px;
    text-align: center;
    gap: 50px;
  }
}

.banner-separator {
  height: 350px;
  width: 1px;
  background-color: white;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.6);

  @media (max-width: 915px) {
    display: none;
  }
}

.banner-content {
  max-width: 50%;
  color: white;

  @media (max-width: 768px) {
    max-width: 100%;
    text-align: center;
  }
}
.banner-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: start;
  @media (max-width: 1079px) {
    font-size: 2.2rem;
  }
  @media (max-width: 980px) {
    font-size: 2rem;
  }
  @media (max-width: 871px) {
    font-size: 1.8rem;
  }
  @media (max-width: 794px) {
    font-size: 1.5rem;
  }
  @media (max-width: 768px) {
    text-align: center;
  }
}
.banner-text {
  font-size: 1.2rem;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-out forwards 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-buttons {
  display: flex;
  gap: 15px;
  @media (max-width: 778px) {
    flex-direction: column;
  }
  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}
.btn-primary,
.btn-secondary {
  padding: 12px 18px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  background: white;
  color: #681cc9;
  border: none;
  cursor: pointer;
  @media (max-width: 842px) {
    padding: 12px 10px;
  }
}
.btn-primary {
  &:hover {
    font-size: large;
  }
}
.btn-secondary {
  &:hover {
    font-size: large;
  }
}
