.footer {
  background-color: #681cc9;
  color: white;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 20px;
  flex-wrap: wrap; // Permet le responsive proprement
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    height: auto;
    gap: 30px;
    padding: 40px 20px;
  }
}

.footer-text,
.footer-contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.footer-text {
  max-width: 80%; /* Ajuste la largeur max du texte */
}

.footer-phone {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.5rem;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.footer-text h1 {
  font-size: 20px;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.footer-text p {
  max-width: 400px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-mobile {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px; /* Espacement entre les icônes */
  margin-top: 10px;
  cursor: pointer;
}

.footer-icons a {
  color: white;
  width: 40px;
  height: 40px;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}
