.services {
  text-align: center;
  padding: 80px 20px;

  .services-title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 40px;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
    @media (max-width: 850px) {
      grid-template-columns: none;
    }
  }

  .service-card {
    position: relative;
    perspective: 1000px;
    height: 300px;
    width: 100%; // 🔹 Fixe la largeur à 100% du parent
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s ease;
      transform-style: preserve-3d;
    }
    &.flipped .card-inner {
      transform: rotateY(180deg);
    }

    .card-front,
    .card-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      box-sizing: border-box;
      backface-visibility: hidden;
      background: white;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .card-front {
      z-index: 2;
    }

    .card-back {
      transform: rotateY(180deg);
      p {
        padding-top: 10px;
      }
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  .service-icon {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  .service-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .service-description {
    font-size: 1rem;
    color: #333;
    padding: 0 10px;
  }
}

// Accompagnement section
.accompagnement {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  @media (max-width: 425px) {
    padding: 20px;
  }

  .accompagnement-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
    @media (max-width: 390px) {
      font-size: 1.5rem;
    }
  }

  .accompagnement-description {
    font-size: 1.2rem;
    color: #555;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    @media (max-width: 425px) {
      width: 90%;
    }
  }

  .pricing-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    @media (max-width: 515px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .pricing-card {
    background: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    // width: 300px;

    h3 {
      font-size: 1.5rem;
      color: #333;
    }

    .price {
      font-size: 1.3rem;
      font-weight: bold;
      color: #681cc9;
      display: block;
      margin: 10px 0;
    }

    .btn-primary,
    .btn-secondary {
      padding: 10px 20px;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
      display: inline-block;
      margin-top: 10px;
    }

    .btn-primary {
      background: #681cc9;
      color: white;
      // &:hover {
      //   background: #866ed3;
      // }
    }

    .btn-secondary {
      background: transparent;
      color: #681cc9;
      border: 2px solid #681cc9;
      &:hover {
        background: #681cc9;
        color: white;
      }
    }
  }
}
